<section class="home fill-viewport orange lighten-1">
  <div class="row menu_row">
    <div class="navbar-fixed">
      <nav class="orange darken-1">
        <div class="nav-wrapper">

          <div class="container">
            <a href="#!" class="brand-logo">
              <img class="logo" src="img/logo_white_small.png" alt="">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><img class="ava" src="img/avatar.png" alt=""></li>
              <li><a href="#/">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="img/bg_slide_menu.jpg">
          </div>
          <a href="#user"><img class="circle" src="img/avatar.png"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="hide-on-med-and-up fixed-action-btn">
      <a class="btn-floating btn-large orange darken-3" data-target='createModal' modal>
            <i class="large material-icons">add</i>
          </a>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m4 center hide-on-small-only">
        <a href="" class="waves-effect waves-light orange darken-3 btn" data-target='createModal' modal><i class="material-icons left">add</i>new book</a>
      </div>
      <!-- Creating Modal -->
      <div id="createModal" class="modal">
        <div class="row">
          <form class="col s12">
            <div class="modal-content">
              <h5>Create Book</h5>
              <div class="row">
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">book</i>
                  <input id="create_title" type="text" class="validate" ng-model="vm.title">
                  <label for="create_title">Title</label>
                </div>
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">link</i>
                  <input id="create_url" type="tel" class="validate" ng-model="vm.url_cover">
                  <label for="create_url">Url Cover</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">trending_up</i>
                  <input id="create_progress" type="number" class="validate" ng-model="vm.progress">
                  <label for="create_progress">Progress</label>
                </div>
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="create_author" type="tel" class="validate">
                  <label for="create_author">Author</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">description</i>
                  <input id="create_description"type="text" ng-model="vm.description">
                  <label for="create_description">Description</label>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <a href="" class="modal-action modal-close orange darken-3 waves-effect waves-light btn" ng-click="vm.sendData()" message="Book Added" duration="500" toast='click'>Create</a>
              <a href="" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      <!---->
    </div>
    <div class="row">
      <div class="col s12 m3" ng-repeat="book in vm.listBooks">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{book.url_cover}}">
          </div>
          <div class="card-content">
            <span tooltipped class="card-title grey-text text-darken-4 truncate" data-position="top" data-delay="20" data-tooltip="{{book.title}}">{{book.title}}</span>
            <div class="progress">
              <div tooltipped class="determinate" data-position="bottom" data-delay="20" data-tooltip="{{book.progress}} / 100" style="width: {{book.progress}}%"></div>
            </div>
            <div class="chip">
              fantastic
            </div>
            <div class="chip">
              tale
            </div>
            <a href='' class='right' data-activates='drop{{book._id.$oid}}' dropdown data-hover="true"><i class="material-icons">more_vert</i></a>
            <ul id='drop{{book._id.$oid}}' class='dropdown-content'>
              <li><a href='' data-target='editModal{{book._id.$oid}}' modal><i class="material-icons right" ng-click="vm.prepareInputs(book._id.$oid)">edit</i></a></li>
              <li><a href='' data-target='deleteModal{{book._id.$oid}}' modal><i class="material-icons right">delete</i></a></li>
            </ul>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{book.title}}</span>
            <p>{{book.description}}</p>
          </div>
        </div>
        <!-- Deleting Modal -->
        <div id="deleteModal{{book._id.$oid}}" class="modal">
          <div class="modal-content">
            <h5>Are you sure?</h5>
          </div>
          <div class="modal-footer">
            <a href='' class="modal-action modal-close orange darken-3 waves-effect waves-light btn">No</a>
            <a href='' class="modal-action modal-close waves-effect waves-light btn-flat" ng-click="vm.deleteData(book._id.$oid)" message="Book Deleted" duration="500">Yes</a>
          </div>
        </div>
        <!-- Editing Modal -->
        <div id="editModal{{book._id.$oid}}" class="modal">
          <div class="row">
            <form action="" class="col s12">
              <div class="modal-content">
                <h5>Update Book</h5>
                <div class="row">
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">book</i>
                    <input id="edit_title" type="text" class="validate" ng-model="vm.currentBook.title">
                    <label for="edit_title">Title</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">link</i>
                    <input id="edit_url" type="tel" class="validate" ng-model="vm.currentBook.url_cover">
                    <label for="edit_url">Url Cover</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">trending_up</i>
                    <input id="edit_progress" type="number" class="validate" ng-model="vm.currentBook.progress">
                    <label for="edit_progress">Progress</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="edit_author" type="tel" class="validate">
                    <label for="edit_author">Author</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <input id="edit_description" type="tel" class="validate" ng-model="vm.currentBook.description">
                    <label for="edit_description">Description</label>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <a href="" class="modal-action modal-close orange darken-3 waves-effect waves-light btn" ng-click="vm.changeData(book._id.$oid)" message="Book Edited" duration="500">Update</a>
                <a href="" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
              </div>
            </form>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
</section>
