<div class="container">
    <div class="row" ng-init="sortDate = 'updated_at'" ng-model="sortDate">
        <div class="col-12 col-sm-6 col-md-3 mx-auto mt-5">
            <div class="alert alert-info">
                email: alex@mail.com
                <br /> Password: 123456
            </div>
            <h2>Login</h2>
            <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" ng-model="vm.email" required />
                    <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                        <div ng-message="required">Email is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.password" required />
                    <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                        <div ng-message="required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
                    <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
                <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
            </form>
        </div>
    </div>
</div>