
<section class="login fill-viewport teal darken-2 valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="center-align">
          <img src="img/logo_white_small.png" class="login-logo" alt="">
          <form class="col s12" ng-submit="vm.login()">
            <div class="row eml">
              <div class="input-field col s12 m4 offset-m4">
                <input id="email" type="email" class="validate" ng-model="vm.email">
                <label for="email">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
              </div>
            </div>
            <div class="row pass">
              <div class="input-field col s12 m4 offset-m4">
                <input id="password" type="password" class="validate" ng-model="vm.password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 offset-m4">
                <input class="waves-effect waves-light btn teal darken-3 sub" type="submit" value="Login">
              </div>
            </div>
          </form><br>
          <a href="#/signup" class="to-signup">Newbie?</a>
        </div>
      </div>
    </div>
  </div>
</section>
