<section class="login fill-viewport  teal valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="center-align">
          <img src="img/logo_white_small.png" class="login-logo" alt="">
          <form class="col s12">
            <div class="row eml">
              <div class="input-field col s12 m4 offset-m4">
                <input id="email" type="email" class="validate"ng-model="vm.email">
                <label for="email">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
              </div>
            </div>
            <div class="row pass">
              <div class="input-field col s12 m4 offset-m4">
                <input id="password" type="password" ng-model="vm.password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 offset-m4">
                <a href="" class="waves-effect waves-light btn teal darken-1 sub" ng-click="vm.signup()">signup</a>
              </div>
            </div>
          </form><br>
          <a href="#/login" class="to-signup">Get Back</a>
        </div>
      </div>
    </div>
  </div>
</section>
