.fill-viewport{
  min-height: 100vh;
  overflow: hidden;
}
.main{
  background: url(../img/logo_white.png) 40% 0%/contain no-repeat;
}
.rem,
.tb,
.wy,
.read{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #382563;
}
.rem{
  font-weight: 300;
  font-size: 43px;
  margin: 0;
}
.tb{
  font-weight: 500;
  font-size: 38px;
  letter-spacing: 3px;
  margin: 0 -5px 0 0;
}
.wy{
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 9px;
  margin: 0 -15px 0 0;
}
.read{
  font-weight: 900;
  font-size: 70px;
  letter-spacing: 15px;
  margin: -17px 0 50px 18px;
}
.bto{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0 60px 0 60px;
}
.eml,
.pass,
.sub,
.validate{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  color: #bdbdbd;

}
.pass{
  margin-top: -3em;
}
.sub{
  margin: 0;
  padding: 0 60px 0 60px;
}
.input-field label {
     color: #bdbdbd;
}
.login-logo{
  margin-bottom: 3em;
}
.to-signup{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.to-signup:hover{
  cursor: pointer;
  text-decoration: underline;
}
.logo{
  height: 50px;
  margin-top: 5px;
}
.ava{
  height: 45px;
  margin-top: 10px;
  margin-left: 20px;
}
.search-bar{
  padding: 0 0 0 0;
  height: 4em;
}

.menu_row{
  width: 100%;
}
.home{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.card .card-title{
  font-size: 18px;
  cursor: pointer;
}
.chip,
.dropdown-trigger,
.progress
{
  cursor: pointer;
}
.chip:hover{
  background-color: #bdbdbd;
}
